@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Handlee|Kaushan+Script');


body {
 background: url('../images/diagonal_waves.png') repeat;
font-family: 'Roboto', sans-serif;
}

body > .container {
  padding: 55px 15px 0;
}

h1 {
  font-family: "Lato" !important;
  font-weight: 400;
  font-size: 20px;
  line-height: 1em;
}

h5 {
    font-family: "Lato" !important;
}

h4 {
    font-family: "Lato" !important;
    font-size: 16px;
}

a.open-modal {
  cursor: pointer;
}

.navbar-default {
  border: none;
  border-bottom: 4px solid #69a1b4;
  font-family: "Lato" !important;
}

.subhead {
    font-family: "Lato" !important;
    font-size: 14px;
    color: #ccc;
    margin-left: 14px;
}

.navbar-header > .navbar-brand {
  color: #fff;
  font-family: 'Handlee', cursive;
  font-size: 20px;
}
.navbar-header > .navbar-default .navbar-brand:hover,
.navbar-header > .navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}

.ux-process {
  font-weight: 300;
  height: 55px;
  font-family: "Lato" !important;
}

.icon {
  max-width: 150px;
  margin: 0 auto;
  display: block;
}

.fa-circle  {
  font-size: 6px;
  margin-top: 4px;
  color: #000;
  opacity: .5;
}

.services section {
  text-align: left;
  margin-bottom: 10px;
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out;
    -o-transition: background-color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out;
    background-color: rgb(99,171,244);
    border-radius: 2px;
    border: 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 0.45em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
    margin-left: 10px;
    color: #FFF !important;
}

@media(min-width: 1200px) {
  h3 {
    margin-top: 0;
  }
  .services section {
    text-align: left;
  }
}

.skills ul {
    margin: 0;
    padding: 30px 0 0px 0px;
}

.skills > li > i {
  float: left;
  margin-right: .7em;
  padding-top: 2px;
  font-weight: bold;
  list-style: none;
}

.skills > li  {
    list-style: none;
    margin-left: -28px;
    margin-right: 10px;
}

.skills > li > div {
    margin-bottom: .2em;
    overflow: hidden;
}

.footer {
    position: relative;
    padding: 40px;
    bottom: 0;
    width: 100%;
    height: 280px;
    margin-top: 20px;
    background-color: #232323;
    border-top: 4px solid #69a1b4;
}

@media (max-width: 760px) {
  .footer {
      padding: 20px 10px;
      height: 90px;
  }
}

.container .text-muted {
    margin: 20px 0;
    color: #fff;
}

.container .text-muted a:link,
.container .text-muted a:active,
.container .text-muted a:focus {
    color: #fff;
}

.container .text-muted a:hover {
    color: 6px solid #ccc;
}

.img-borders {
  border-radius: 10px;
  border: 4px solid rgb(20, 107, 179);
}

.img-shadow {
  box-shadow: 1px 1px 1px  rgb(220, 221, 222);
}

.list-border {
  /*margin-top: 10px;*/
  margin-bottom: 10px;
  width: 100%;
  background-color: #f2f2f2;
  padding-bottom: 10px;
/*  border-radius: 0px 0px 6px 6px;*/
  border-radius: 6px;
  -webkit-box-shadow: 2px 4px 12px -4px rgba(189,179,189,1);
  -moz-box-shadow: 2px 4px 12px -4px rgba(189,179,189,1);
  box-shadow: 2px 4px 12px -4px rgba(189,179,189,1);
}

.list-border ul {
  margin-left: 0px;
  padding-top: 10px;
}

/* Roatating images on pro.html */
.rotating-img {
  height: 260px;
  margin: 0 20px 0 40px;
}

@media (max-width: 989px) {
  .rotating-img {
    width: 200px;
    height: 250px;
    margin: 0 30px;
  }

  #mainImage1 img  {
    max-width: 80%;
  }
/*  .list-border {
     width: 400px;
  }*/

}

@media (max-width: 600px) {
  .list-border {
     padding-bottom: 20px;
  }

}


@media (max-width: 400px) {
  .list-border {
     width: 356px;
  }

}

/* skill / professional/ photos - Headers */

.skills-title > div,
.pro-title > div {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.photo > div {
  font-size: 18px;
  line-height: 2em;
  font-weight: 400px;
}

/* Social Sharing */
.btn-email {
    background: #515151;
    margin-right: 10px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 17px;
    display: inline-block !important;
    width: 30px !important;
    height: 30px !important;
  }
.btn-email:link, .btn-email:visited {
    color: #fff
}
.btn-email:active, .btn-email:hover {
    opacity: .7;
}
.btn-codepen {
    background: #515151;
    margin-right: 10px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    padding:4px 0 3px 0;
    font-size: 17px;
    display: inline-block !important;
    width: 30px !important;
    height: 30px !important;
}
.btn-codepen:link, .btn-codepen:visited {
    color: #fff;
}
.btn-codepen:active, .btn-codepen:hover {
    opacity: .7;
}
.btn-github {
    background: #515151;
    margin-right: 10px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    padding: 3px;
    font-size: 17px;
    display: inline-block !important;
    width: 30px !important;
    height: 30px !important;
}
.btn-github:link, .btn-github:visited {
    color: #fff
}
.btn-github:active, .btn-github:hover {
    opacity: .7;
}
.btn-linkedin {
    background: #515151;
    margin-right: 10px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    padding: 2px;
    font-size: 18px;
    display: inline-block !important;
    width: 30px !important;
    height: 30px !important;
}

.btn-linkedin:link, .btn-linkedin:visited {
    color: #fff
}
.btn-linkedin:active, .btn-linkedin:hover {
    opacity: .7;
}

/* affix top arrow */
.navbar-fixed-top + .content-container {
  margin-top: 130px;
}
.content-container {
  margin: 0 130px;
}


#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px; /* negative of the offset - height of link element */
    right: 10px; /* padding from the left side of the window */
    background-color: #000;

}

#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px; /* height of link element */
    right: 10px; /* padding from the left side of the window */
    background-color: #000;
    z-index: 9999;
    opacity: 0.6;
}

#top-link-block.affix a {
  color: #fff;
  font-size: 25px;
  padding: 6px 10px;
  opacity: 1;
  text-decoration: none;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  outline: 0;
  border-radius: 0px;
  margin-top: 15px;
}

.modal-content img {
  width: 100%;
}

.modal-header {
    padding: 0px 0 5px 0;
}

.slider_container {
  width: 350px;
}

span > .fa.fa-users {
  width: 100%;
  text-align: center;
  font-size: 120px;
  padding: 0 20px 10px 0px;
  color: #000;
}

span > .fa.fa-sitemap {
  width: 100%;
  text-align: center;
  font-size: 120px;
  padding: 0 20px 10px 0px;
  color: #000;
}

span > .fa.fa-window-close {
  color: #000;
  font-size: 2rem;
  float: right;
  margin: 10px;
}

span > .fa.fa-magic {
  width: 100%;
  text-align: center;
  font-size: 120px;
  padding: 0 20px 10px 0px;
  color: #000;
}

img {
    -webkit-box-shadow: 2px 4px 12px -4px rgba(189,179,189,1);
    -moz-box-shadow: 2px 4px 12px -4px rgba(189,179,189,1);
    box-shadow: 2px 4px 12px -4px rgba(189,179,189,1);
}
