.navbar-default {
  border: none;
  border-bottom: 5px solid rgb(252, 119, 78);
}

.icon {
  max-width: 150px;
  margin: 0 auto;
  display: block;
}

.nav

.services section {
  text-align: left;
}

@media(min-width: 1200px) {
  h3 {
    margin-top: 0;
  }
  .services section {
    text-align: left;
  }
}

 ul.skills {
    margin: 0;
    padding: 20px 0 10px 20px;
}



body > .container {
  padding: 20px 15px 0;
}


.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 120px;
    margin-top: 20px;
    background-color: #555;
    border-top: 5px solid rgb(96, 201, 48);
}

.container .text-muted {
    margin: 20px 0;
    color: #fff;
}

.container .text-muted a:link, 
.container .text-muted a:active, 
.container .text-muted a:focus {
    color: rgb(48, 201, 52);
}

.container .text-muted a:hover {
    color: rgb(96, 201, 48);
}

.img-borders {
  border-radius: 10px;
  border: 4px solid rgb(20, 107, 179);
   box-shadow: 1px 1px 1px  rgb(220, 221, 222);
}

.list-border {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  height:180px;
}

.list-border ul {
  margin-left: 10px;
}


